packages:
  yum:
    mod_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyDCCArACCQCXdXP3Sh3dCDANBgkqhkiG9w0BAQsFADCBpTELMAkGA1UEBhMC
      VVMxEDAOBgNVBAgMB0luZGlhbmExFTATBgNVBAcMDEluZGlhbmFwb2xpczFJMEcG
      A1UEAwxAUGlja0VtTGVhZ3VlMjAyMy1lbnYuZWJhLThtanN4NzlwLnVzLWVhc3Qt
      MS5lbGFzdGljYmVhbnN0YWxrLmNvbTEiMCAGCSqGSIb3DQEJARYTd21hZXRobmVy
      QGdtYWlsLmNvbTAeFw0yMzA4MTgxNTE5NTFaFw0yNDA4MTcxNTE5NTFaMIGlMQsw
      CQYDVQQGEwJVUzEQMA4GA1UECAwHSW5kaWFuYTEVMBMGA1UEBwwMSW5kaWFuYXBv
      bGlzMUkwRwYDVQQDDEBQaWNrRW1MZWFndWUyMDIzLWVudi5lYmEtOG1qc3g3OXAu
      dXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMSIwIAYJKoZIhvcNAQkBFhN3
      bWFldGhuZXJAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEAsHolgX4uq7JVwUxh9G5uILHlCjzuXhvgyBf3SlkyCHQhjVzpcfKzhPWVsCu2
      1DGao+v3cVUv4CplAsJY1XuLi6IEucpYyqtnO4CKkG72eBTq1jmaXDJmgFEXbv1H
      HFGZm6AvU2HWqSAAAMVoi1xu+PsT620yhI4FZUFXmKRxYhnhNEBzWYzydn7N6wLF
      3IY+6KUZIdB60lkDloCmgxd58EcnXvL83XyxInHDElZHi6bIhRaQDi9atJsbXXJl
      9ETncuCrIePZ6V+O/JuuaX9RSBzy1OB4G++MFQXuI0/2e41rzaGpbas4Yg+sPC4f
      MFDdJuhc14+e+2FeXfGP6S1vWwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQAeLcrt
      EMy1dL2sZAW/lHRN3GKRDZS9D4tpX/axoLVpexFTdynl/4d/GVGywGZS7VQNr4Rg
      qCwstxR9F7lVnGDBFoBuU0zdIIJ/wdguIvdwkZEdcOVVe2E26fOPZc0EcjvugqfF
      ow9IRQ6mXqzfRsqXyZEnSAhuDoJOPJSz3hZjWe/hWQnd2hjXPPueWIA1ur4J9M5H
      /tCLZvHWMSfzjfA5pAU0uLkHGSGEcK4sJIaQkS0eLWdgfHH43gQ55o49KwotyLu0
      W9b311VHEAMU+VNQtRejKsNpTEVzQrxHIucB2zS3BApcdhnRUak0fd8lu+YEqB91
      d5h9yPMwDEyi9CO4
      -----END CERTIFICATE-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"